<!doctype html>
<html lang="en">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sense - Activities</title>
    <link rel="shortcut icon" href="../images/logo1.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,700|Varela+Round" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Archivo Narrow' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Caesar+Dressing|Gothic+A1&display=swap" rel="stylesheet">
  </head>
  <header>
    <a href="/"><img class="icon" src="../images/logo.ico" alt="Logo" /></a>
    <div class="pages__list">
      <h4 class="pages__item"><a href="/">Home</a></h4>
      <h4 class="pages__item"><a href="/activities">Micro Breaks</a></h4>
      <h4 class="pages__item"><a href="/flash">Create Cards</a></h4>
      <h4 class="pages__item"><a href="/createquiz">Create Quiz</a></h4>
      <h4 class="pages__item"><a href="/faq">FAQ</a></h4>
    </div>
  </header>

  <body>
    <div id="page-container">
      <div id="content-wrap">
        <h2>Virtual Activities for a Break!</h2>
        <ul>

          <li><a href="/museum" target="_blank"><u>Virtual Museums</u></a></li>
          <li><a href="/outside" target="_blank"><u>Outside Inside</u></a></li>
          <li><a href="/iconic" target="_blank"><u>Recreate Iconic Food</u></a></li>
          <li><a href="/classes" target="_blank"><u>Online Classes</u></a></li>

        </ul>
        <ul>
          <li><b>Create:</b><br>
            <img src="../images/Home/5.png" />
            It only takes minutes to create a learning game or trivia quiz on any topic, in any language.
          </li>
          <li><b>Host or share: </b><br>
            <img src="../images/Home/6.png" />
            Host a live game with questions on a big screen or share a game with remote players.
          </li>
          <li><b>Play: </b><br>
            <img src="../images/Home/7.png" />
            Game on! Join a Sense with a PIN provided by the host and answer questions on your device.
          </li>
        </ul>
      </div>
    </div>
    <footer>
      <p>Stevens Institute of Technology &copy; 2020</p>
    </footer>

  </body>

</html>
