<!doctype html>
<html lang="en">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sense - FAQs</title>
    <link rel="shortcut icon" href="../images/logo1.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,700|Varela+Round" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Archivo Narrow' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Caesar+Dressing|Gothic+A1&display=swap" rel="stylesheet">
  </head>
  <header>
    <a href="/"><img class="icon" src="../images/logo.ico" alt="Logo" /></a>
    <div class="pages__list">
      <h4 class="pages__item"><a href="/">Home</a></h4>
      <h4 class="pages__item"><a href="/activities">Micro Breaks</a></h4>
      <h4 class="pages__item"><a href="/flash">Create Cards</a></h4>
      <h4 class="pages__item"><a href="/createquiz">Create Quiz</a></h4>
      <h4 class="pages__item"><a href="/faq">FAQ</a></h4>
    </div>
  </header>

  <body>
    <div id="page-container">
      <ol>
        <li>Account Setup:<br />** Go to Home page and Click on Sign Up menu **</li>
        <li>Subscription Fee:<br /> None</li>
        <li>General Info: <br />** Goto Home page **</li>
        <li>Support query: <br />**mail to: support@sense.com**</li>
        <li>How to create a Quiz: <br />Go to Create Quiz page and and enter questions to submit</li>
        <li>How to create Cards: <br />Go to Create Cards page and and enter questions and click on Create cards to
          learn using Flash cards.</li>
        <li>How will poor connection affect my quiz: <br />While giving a quiz if your connections weakens, the
          application will save question to continue where stopped incase of lost connection.</li>
      </ol>
    </div>
    <footer>
      <p>Stevens Institute of Technology &copy; 2020</p>
    </footer>

  </body>

</html>
