<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sense - Learn Out of the Box</title>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Oswald:300,700|Varela+Round" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Archivo Narrow' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css?family=Caesar+Dressing|Gothic+A1&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="page-container">
            <div>
                <p>Use Coursera to take Yale's The Science of Well-Being for free</p>
                <a href="https://www.coursera.org/learn/the-science-of-well-being?ranMID=40328&ranEAID=TnL5HPStwNw&ranSiteID=TnL5HPStwNw-7EbBHiClda1MasnE7tAl3Q&siteID=TnL5HPStwNw-7EbBHiClda1MasnE7tAl3Q&utm_content=10&utm_medium=partners&utm_source=linkshare&utm_campaign=TnL5HPStwNw#enroll"
                   target="_blank">The Science of Well-Being</a><br />
                <img src="https://news.yale.edu/sites/default/files/styles/opengraph_image/public/ynews-2018_02_01_13-51-28_12-cc.jpg?itok=lxbujxUU"
                     alt="yale" />
            </div>

            <div>
                <p>Use Hogwarts is Here to role play as a Hogwarts Student and even take real courses online</p>
                <a href="https://www.playbuzz.com/emilyz14/the-hogwarts-sorting-quiz-pottermore-version"
                   target="_blank">Harry Potter at Home</a><br />
                <img src="https://burrow.hogwartsishere.com/media/news_primaries/HiH.jpg" alt="hogwarts" />
            </div>

            <div>
                <p>Use Duolingo to learn a new language, including Spanish, French, German, Korean, and more</p>
                <a href="https://www.duolingo.com/" target="_blank">Learn a New Language</a><br />
                <img src="https://d35aaqx5ub95lt.cloudfront.net/images/logo-with-duo.png" alt="duolingo" />
            </div>

        </div>
    </body>

</html>
