<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sense - View Outside Inside</title>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Oswald:300,700|Varela+Round" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Archivo Narrow' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css?family=Caesar+Dressing|Gothic+A1&display=swap" rel="stylesheet">
    </head>
    <body>
    <div id="page-container">
        <div>
            <p>David Attenborough gives you a tour through the Great Barrier Reef.</p>
            <a href = "https://attenboroughsreef.com/" target="_blank">Great Barrier Reef</a><br />
            <img src = "https://i.insider.com/5772d3c04321f142368b4774?width=1100&format=jpeg&auto=webp" alt = "reef" />
        </div>
        
        <div>
            <p>Walk around several scenes taken at the Great Wall of China</p>
            <a href = "https://www.thechinaguide.com/destination/great-wall-of-china" target="_blank">Great Wall of China</a><br />
            <img src = "https://images.chinahighlights.com/allpicture/2014/10/a42c2b68331d46fb9a80aa66_298x199.jpg" alt = wall />
        </div>
        
        <div>
            <p>Google Arts and Culture presents a virtual tour through Alaska's Kenai Fjords National Park</p>
            <a href = "https://artsandculture.withgoogle.com/en-us/national-parks-service/kenai-fjords/exit-glacier-tour" target="_blank">Kenai Fjords</a><br />
            <img src = "https://www.gannett-cdn.com/-mm-/bdb503dbd4a4870c1023b87e9f806e7427bbf1f4/c=0-39-2247-1309/local/-/media/2018/04/10/USATODAY/USATODAY/636589746394885539-An-iceberg-from-Bear-Glacier-credit-NPS-Photo-Jim-Pfeiffenberger.jpg" alt = "fjords" />
        </div>
        
        <div>
            <p>Google ARts and Culture also presents a virtual tour through Hawaii Volcanoes National Park</p>
            <a href = "https://artsandculture.withgoogle.com/en-us/national-parks-service/hawaii-volcanoes/nahuku-lava-tube-tour" target="_blank">Hawaii Volcanoes</a><br />
            <img src = "https://cms.tripster.com/travelguide/wp-content/uploads/2020/02/Halemaumau.jpg" alt = "volcanoes" />
        </div>
            
    </div>
    </body>
</html>